.glide-text {
  display: inline-block;
  width: inherit;
  position: relative;
}

.glide-text span {
  width: 100%;
  display: block;
}

.glide-text span.glide-text-out {
  animation: textOut 300ms ease forwards;
}

.glide-text span.glide-text-in {
  position: absolute;
  top: 100%;
  animation: textIn 300ms ease forwards;
}

@keyframes textIn {
  0% {
    opacity: 0;
  }
  
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes textOut {
  0% {
    transform: translateY(0%);
  }

  75% {
    opacity: 0;
  }

  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}