---
import Card from "../components/Card.astro";
---


<div>
  <Card id="1" name="JavaScript Basico" image="https://cdn.svgporn.com/logos/javascript.svg" numQuestions="20"></Card>
</div>


<div>
  <article class="text-white">
    <h3 class="truncate">hola como estas</h3>
    <p class="truncate">hola 2</p>
  </article>
</div>

<style>
  div {
    margin: 40px;
    border: 2px solid blue;
    padding: 20px;
    overflow: hidden;
    resize: both;
  }

  body {
    background-color: theme(colors.dark-blue);
  }
</style>