<div class="fixed inset-0 -z-10 bg-dark-blue">
  <div class="absolute top-0 h-full w-full bg-dark-blue bg-[radial-gradient(#ffffff11_2px,#00091d_1px)] bg-[size:90px_90px]"></div>
</div>

<style>
  div div {
    /* background-position: 0 -90px; */
    animation: slicebg 5s forwards infinite linear;
  }

  @keyframes slicebg {
    100% {
      background-position: 0 -90px;
    }
  }
</style>
