---
import Github from '../icons/github.astro'
---

<footer
  class="py-5 text-white flex justify-center gap-3 items-center bg-dark-blue font-fredoka text-lg fixed bottom-0 w-full"
>
  <span>Hecho por</span>
  <a
    target="_blank"
    href="https://github.com/lbrione/python-quiz"
    class="text-py-yellow flex items-center gap-1"
  >
    <Github />
    lbrione
  </a>
</footer>
