---
import Github from '../assets/icons/github.astro'
import Linkedin from '../assets/icons/linkedin.astro'
---

<footer
  class="py-4 flex justify-center gap-4 bg-dark-blue/50 font-fredoka text-lg w-full z-30"
>
  <div>
    Hecho por
    <a href="#" class="text-yellow hover:underline">lbrione</a>
  </div>
  |
  <div
    class="flex items-center gap-2 *:text-gray-400 hover:*:text-white"
  >
    <a target="_blank" href="https://github.com/lbrione/python-quiz">
      <Github />
    </a>
    <a href="#">
      <Linkedin />
    </a>
  </div>
</footer>
